.rulesContainer {
  position: absolute;
  background-color: var(--background-color);
  inset: 0;
  display: none;
  transition: opacity 0.5s ease;
  padding: 1rem;
}

.rulesContainerActive {
  display: initial;
}

.text {
  font-size: 1rem;
  margin: 0.75rem 0;
}

.textBold {
  font-weight: 700;
}

.rulesTitle {
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  margin: 0.75rem 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.footerButton {
  background-color: var(--correct-color);
  border-radius: 0.25rem;
  border: none;
  color: var(--button-text-color);
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.25rem;
  outline: none;
  padding: 0.75rem 1.5rem;
  text-transform: uppercase;
}
