.statsContainer {
  inset: 0;
  position: absolute;
  background-color: #fff;
  display: none;
  padding: 1rem;
}

.statsContainerActive {
  display: initial;
}

.closeStatsButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.closeIcon {
  stroke: #a3a3a3;
}

.underConstructionSign {
  padding: 2rem;
  background-color: rgba(255, 186, 102, 0.8);
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  margin-top: 3rem;
}

.wordOfTheDayParagraph {
  text-align: center;
  font-size: 1rem;
}

.wordOfTheDay {
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.statsTitle {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.numericStats {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.statContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
}

.data {
  font-size: 2.25rem;
}

.placeholder {
  font-size: 0.75rem;
}
