:root {
  --correct-color: #66aa64;
  --almost-correct-color: #c9b458;
  --wrong-color: #787c7e;
  --alert-success-color: #66aa64;
  --alert-error-color: #e74c3c;
  --alert-message-color: #fff;
  --letter-color: #fff;
  --button-background-color: rgb(211, 214, 218);
  --button-text-color: #fff;
  --header-border-color: rgb(212, 212, 212);
  --icon-color: rgb(115, 115, 115);
  --background-color: #fff;
  --footer-border-color: rgb(229 231 235);
  --cell-text-color: #fff;
  --list-count-color: rgb(115, 115, 115);
}

* {
  font-family: sans-serif;
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  pointer-events: none;
}

.wrapper {
  max-width: 512px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  position: relative;
}

@media (max-width: 512px) {
  .wrapper {
    max-width: 100%;
  }
}

.header {
  width: 100%;
  height: 50px;
}

.headerNav {
  border-bottom: 1px solid var(--header-border-color);
  padding: 0.25rem 0.75rem;
  display: flex;
  height: 100%;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.headerButton {
  background-color: transparent;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.headerIcon {
  stroke: var(--icon-color);
  width: 24px;
  height: 24px;
}

#settingsIcon {
  fill: var(--icon-color);
  stroke: none;
}

.headerTitle {
  font-size: 1.875rem;
  line-height: 2.25rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  transform: translate(-50%, -50%);
}

.buttonsContainer {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 0.75rem;
}

.keyboardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0 auto;
  padding: 0 0.5rem 0.5rem 0.5rem;
}

.keyboardRow {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  width: 100%;
}

.keyboardButton {
  background-color: var(--button-background-color);
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  flex: 1;
  font-size: 0.875rem;
  font-weight: 700;
  height: 3.5rem;
  line-height: 1.25rem;
  outline: none;
  padding: 0.5rem;
  text-transform: uppercase;
}

.correctLetter {
  background-color: var(--correct-color);
  color: var(--letter-color);
}

.almostCorrectLetter {
  background-color: var(--almost-correct-color);
  color: var(--letter-color);
}

.wrongLetter {
  background-color: var(--wrong-color);
  color: var(--letter-color);
}

.alertContainer {
  border-radius: 1rem;
  padding: 1rem;
  transform: translateY(100%);
  position: fixed;
  top: 0;
}

.alertSuccess {
  background-color: var(--alert-success-color);
}

.alertError {
  background-color: var(--alert-error-color);
}

.alertMessage {
  color: var(--alert-message-color);
  margin: 0;
  font-size: 1.1rem;
}
