.gameContainer {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  border-bottom: 1px solid rgb(212, 212, 212);
  padding-bottom: 0.75rem;
  width: 100%;
}

.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerButton {
  background-color: transparent;
  padding: 0;
  border: none;
  outline: none;
}

.headerIcon {
  stroke: rgb(115, 115, 115);
  width: 24px;
  height: 24px;
}

#settingsIcon {
  fill: rgb(115, 115, 115);
  stroke: none;
}

.headerTitle {
  font-size: 1.875rem;
  line-height: 2.25rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.buttonsContainer {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 0.75rem;
}

.board {
  width: 68.35%;
  display: grid;
  gap: 0.25rem;
  aspect-ratio: 1 / 1.2;
  margin: 0;
  padding: 0;
}

.boardRow {
  gap: 0.25rem;
  display: flex;
}

.cell {
  aspect-ratio: 1 / 1;
  width: 100%;
  border: 2px solid rgb(212, 212, 212);
  display: flex;
  align-items: center;
  justify-content: center;
}

.demoCell {
  width: 44px;
  height: 44px;
}

.activeCell {
  border-color: #000;
}

.pop {
  animation: pop 0.15s ease;
}

@keyframes pop {
  to {
    transform: scale(1.06);
  }
}

.correctCell {
  border: 1px solid transparent;
  background-color: #66aa64;
  color: #fff;
  animation: deveal 0.6s ease-out forwards;
}

.almostCorrectCell {
  border: 1px solid transparent;
  background-color: #c9b458;
  color: #fff;
  animation: deveal 0.6s ease-out forwards;
}

.wrongCell {
  border: 1px solid transparent;
  background-color: #787c7e;
  color: #fff;
  animation: deveal 0.6s ease-out forwards;
}

@keyframes deveal {
  to {
    transform: rotateX(0deg);
  }

  from {
    transform: rotateX(180deg);
    transform-origin: 50% 50%;
  }
}

.cellText {
  font-size: 2.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

.keyboardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  max-width: 500px;
  margin: 0 auto;
  padding: 0;
}

.keyboardRow {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  width: 100%;
}

.keyboardButton {
  background-color: rgb(211, 214, 218);
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  flex: 1;
  font-size: 0.875rem;
  font-weight: 700;
  height: 3.5rem;
  line-height: 1.25rem;
  outline: none;
  padding: 0.5rem;
  text-transform: uppercase;
}

.correctLetter {
  background-color: #66aa64;
  color: #fff;
}

.almostCorrectLetter {
  background-color: #c9b458;
  color: #fff;
}

.wrongLetter {
  background-color: #787c7e;
  color: #fff;
}
