* {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
    Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  pointer-events: none;
}

.wrapper {
  max-width: 512px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 1.125rem;
  align-items: center;
}

@media (max-width: 512px) {
  .wrapper {
    max-width: 100%;
  }
}

.header {
  border-bottom: 1px solid rgb(212, 212, 212);
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.headerTitle {
  font-size: 1.875rem;
  line-height: 2.25rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.board {
  width: 68.35%;
  display: grid;
  gap: 0.25rem;
  aspect-ratio: 1 / 1.2;
}

.boardRow {
  gap: 0.25rem;
  display: flex;
}

.cell {
  aspect-ratio: 1 / 1;
  width: 100%;
  border: 2px solid rgb(212, 212, 212);
  display: flex;
  align-items: center;
  justify-content: center;
}

.activeCell {
  border-color: #000;
}

.pop {
  animation: pop 0.15s ease;
}

@keyframes pop {
  to {
    transform: scale(1.06);
  }
}

.correctCell {
  border: 1px solid transparent;
  background-color: #66aa64;
  color: #fff;
  animation: deveal 0.6s ease-out forwards;
}

.almostCorrectCell {
  border: 1px solid transparent;
  background-color: #c9b458;
  color: #fff;
  animation: deveal 0.6s ease-out forwards;
}

.wrongCell {
  border: 1px solid transparent;
  background-color: #787c7e;
  color: #fff;
  animation: deveal 0.6s ease-out forwards;
}

@keyframes deveal {
  to {
    transform: rotateX(0deg);
  }

  from {
    transform: rotateX(180deg);
    transform-origin: 50% 50%;
  }
}

.cellText {
  font-size: 2.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

.keyboardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  max-width: 500px;
  margin: 0 auto;
}

.keyboardRow {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  width: 100%;
}

.keyboardButton {
  background-color: rgb(211, 214, 218);
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  flex: 1;
  font-size: 0.875rem;
  font-weight: 700;
  height: 3.5rem;
  line-height: 1.25rem;
  outline: none;
  padding: 0.5rem;
  text-transform: uppercase;
}

.correctLetter {
  background-color: #66aa64;
  color: #fff;
}

.almostCorrectLetter {
  background-color: #c9b458;
  color: #fff;
}

.wrongLetter {
  background-color: #787c7e;
  color: #fff;
}

.alertContainer {
  border-radius: 1rem;
  padding: 1rem;
  transform: translateY(100%);
  position: fixed;
  top: 0;
}

.alertSuccess {
  background-color: #66aa64;
}

.alertError {
  background-color: #e74c3c;
}

.alertMessage {
  color: #fff;
  font-weight: 600;
  margin: 0;
}
